.container{
    width: 1200px;
    margin: auto;
    .ppc{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        margin: 30px 0;
    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width: 1200px) {
    .container {
      width: 1000px;
    }
  }