.technology {
    text-align: center;
    padding: 20px 50px;
    background-color: #F6F7FA;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    img {
        width: 60px;
    }
  
}